:root {
    --light-paper: #f8f8f8;
    --light-text: black;
    --light-magic: #00a6ff;
    --dark-paper: #252525;
    --dark-text: white;
    --dark-magic: #006edb;
    --gray: #808080;
    --sans: Inter, Inter UI, San Francisco, SF Pro, SF UI, Arial, Verdana, sans-serif;
    --serif: Linux Libertine, Georgia, Baskerville, serif;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 45px;
    float: none;

    background-color: var(--light-paper);
    color: var(--light-text);
    font-family: var(--sans);
}

/* html {
    border-top: 10px var(--light-magic) solid;
} */

a {
    color: var(--dark-magic);
    transition: background-color 100ms, color 100ms;
}

a:hover {
    color: white;
    background-color: var(--dark-magic);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-paper);
        color: var(--dark-text);
    }
    a {
        color: var(--light-magic);
    }
    a:hover {
        color: black;
        background-color: var(--light-magic);
    }
}

.logo {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: bold;

    font-family: var(--serif);
}

h1 {
    font-family: var(--serif);
    font-weight: 500;
}

.article {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--gray);
}

hgroup > time {
    float: right;
}
